body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

  .container {
    font-family: 'Hanken Grotesk', sans-serif;
    ;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;


}

  .left-side,
  .right-side {

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 50px;     
}


  .left-side>h2 {
    text-align: center;
    font-weight: 800;
    color: lightgrey;
}


  .left-side {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    
}

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;


  }

  .result-message>h2 {
    text-align: center;
    font-weight: 700;
    color: white;
  }

  .result-message>p {
    font-weight: 500;
    color: lightgray;
    text-align: center;
    margin-bottom: 0;
  }

  .result h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
  }

  .result p {
    margin-top: 0px;
    color: grey;
  }

  .result-message {

    width: 200px;
    margin-right: 50px;
    margin-left: 50px;
  


  }

  .right-side {
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.3);

  }
  
  .result-message,
  .button-continue{
    margin-top: 15px;
  }


  .score {
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
  }

  .logo {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .score p:nth-child(3) {
    margin-left: auto;
    margin-right: 20px;

  }

  .max-score {
    color: grey;
  }

  .button-continue {

    height: 50px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    border-radius: 20px;
    font-weight: 700;
  }

  .reaction {
    background-color: hsla(0, 100%, 67%, 0.05)
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 0.05);
  }

  .verbal {
    background-color: hsla(167, 100%, 37%, 0.05);
  }

  .visual {
    background-color: hsla(234, 85%, 37%, 0.05);
  }

  .reaction p:nth-of-type(1) {
    color: hsl(0, 100%, 67%);
  }

  .memory p:nth-of-type(1) {
    color: hsl(39, 100%, 56%);
  }

  .verbal p:nth-of-type(1) {
    color: hsl(166, 100%, 37%);
  }

  .visual p:nth-of-type(1) {
    color: hsl(234, 85%, 45%);
  }
  .score p {
    font-weight: 600;
  }

  @media screen and (max-width: 670px) {
    .container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }

  .left-side>h2 {
    font-size: 20px;
  }

  
  .result {     
    width: 150px;
    height: 150px;
  }

  .result-message>h2 {
    font-size: 20px;     
  }

  .result-message>p {
    font-size: 15px;     
  }

  .result h1 {
    font-size: 50px;

  }

  .result p {
    font-size: 13px;
  }


  }

  